.pytest_cache/
pip-wheel-metadata/

__pycache__/

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

target/

.env

.vscode/

.ipynb_checkpoints/

.DS_Store

*.swp
*.swo

.mypy_cache/
/gs_private/

.vscode
.python-version
.ipynb_checkpoints
clusters.md
upload_whl_config.sh
tmp
/notebooks/travis
/notebooks
